<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>{% block title %}Default title{% endblock title %}</title>
</head>
<body>
  <div>
    <a href="/">Главная</a> |
    <a href="/contact">Контакты</a>
  </div>
  <h1>{% block header %}{% endblock header %}</h1>
  {% include "banner.html" with tutorial="Python" site="Django"  %}
  <div>{% block content%}{% endblock content %}</div>
  <img src="{% static "image/forest.jpg" %}" alt="лес">
  <div>MyCorp. 2022. All rights reserved.</div>
</body>
</html>