{% extends 'base.html' %}
{% load static %}

{% block title %}
MyCompany
{% endblock %}

{% block content %}
<h1>Добро пожаловать на наш сайт!</h1>
<p>Мы рады приветствовать вас на странице нашего виртуального пространства! <br>
   Здесь вы найдете множество полезной информации, увлекательных статей, <br>
   новостей и другого интересного материала!
</p>

<h2>Форма для связи с нами:</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>

{% endblock %}