{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>Каталог</title>
  <link rel="stylesheet" href="{% static 'css/catalog.css' %}">\
{% endblock %}

{% block content %}
  <section>
    <h1>Это каталог товаров</h1>
    {% for product in products %}
      <div>
        <a href="./{{product.link_name}}">
          <img src="{% static 'image/' %}{{ product.path }}" alt="">
          <h2>{{product.name}}</h2>
          {% if product.price < 90 %}
            <h3 style="color: red" >{{product.price}} рублей SALE</h3>
          {% else %}
            <h3>{{product.price}} рублей</h3>
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </section>
{% endblock %}