<section id="about" class="about">
  <div class="container">
    <p class="title title_center title_s">Банальный букет из&nbsp;цветов сейчас мало кого удивит.</p>
    <p class="title title_center title_l">Букет из ягод в&nbsp;шоколаде&nbsp;— запомнится надолго</p>
  </div>
  <div class="container container_0">
    <div class="slider about-items">
      <div class="about-items__item">
        <div class="about-items__item-inner">
          <div class="about-items__item-bg about-items__item-bg_1"></div>
          <div class="about-items__item-content">
            <p class="title title_m about-items__item-title">Внешний вид</p>
            <p class="about-items__item-desc">Сочные спелые ягоды в&nbsp;шоколадной глазури, обёрнутые в&nbsp;плотную
              бумагу. Такой букет не&nbsp;только красивый, но&nbsp;и&nbsp;вкусный, а так же он невероятно
              полезный!&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="about-items__item">
        <div class="about-items__item-inner">
          <div class="about-items__item-bg about-items__item-bg_2"></div>
          <div class="about-items__item-content">
            <p class="title title_m about-items__item-title">Быстрая доставка</p>
            <p class="about-items__item-desc">Доставка в день заказа. Быстрая доставка в&nbsp;любой уголок Москвы. Наши
              курьеры бережно и&nbsp;вовремя доставят букет в удобное для Вас время.</p>
          </div>
        </div>
      </div>
      <div class="about-items__item">
        <div class="about-items__item-inner">
          <div class="about-items__item-bg about-items__item-bg_3"></div>
          <div class="about-items__item-content">
            <p class="title title_m about-items__item-title">Контролируем качество</p>
            <p class="about-items__item-desc">Мы&nbsp;закупаем свежие ягоды каждое утро, а&nbsp;сам букет собирается
              непосредственно перед отправкой Вам.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>