{% load static %}
<section id="consists" class="consists">
  <div class="container">
    <div class="consists__decor consists__decor_1"></div>
    <div class="consists__decor consists__decor_2"></div>
    <p class="title title_ml title_center">Из чего состоит букет</p>
    <div class="consists__picture-container">
      <div class="consists__picture-lines"></div> <img src="{% static 'img/flowers.png' %}" alt="" class="consists__picture">
      <div class="consists-items">
        <div class="consists-items__item">
          <p class="consists-items__item-title">Ягоды клубники покрыты бельгийским шоколадом</p>
        </div>
        <div class="consists-items__item">
          <p class="consists-items__item-title">Сочные спелые ягоды клубники, голубики и ежевики</p>
        </div>
        <div class="consists-items__item">
          <p class="consists-items__item-title">Плотная бумага любого цвета на&nbsp;Ваш вкус</p>
        </div>
        <div class="consists-items__item">
          <p class="consists-items__item-title">Лепестки свежей мяты и фисташки&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</section>