<footer class="footer">
  <div class="container container_0">
    <div class="footer-cols">
      <div class="footer-cols__col footer-cols__col_left">
        <div class="footer-logo">
          <div class="footer-logo__col footer-logo__col_left"><img src="img/logo.png" alt="" class="footer-logo__logo">
          </div>
          <div class="footer-logo__col footer-logo__col_center">
            <p class="header-logo__name">Sweet dreams</p>
          </div>
          <div class="footer-logo__col footer-logo__col_right">
            <p class="footer-logo__desc">ООО "Делаем красиво"</p>
            <span class="footer__policy">Политика конфиденциальности</span>
          </div>
        </div>
      </div>
      <div class="footer-cols__col footer-cols__col_center">
        <div class="footer-socials">
          <div class="footer-socials__item"><a href="#" target="_blank"
              class="footer-socials__item-link">
              <div class="footer-socials__item-icon footer-socials__item-icon_instagram"></div>
            </a></div>
          <div class="footer-socials__item"><a href="#" target="_blank"
              class="footer-socials__item-link">
              <div class="footer-socials__item-icon footer-socials__item-icon_vk"></div>
            </a></div>
        </div>
      </div>
      <div class="footer-cols__col footer-cols__col_right">
        <div class="developer">
          <p class="developer__name"></p> <a href="https://github.com/voyxxx" target="_blank" class="developer__link"></a>
        </div>
      </div>
    </div>
  </div>
</footer>