<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <title>Букеты из клубнки в шоколаде</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/icon-x">
</head>
<body> 
  {% include 'promo.html' %}
  {% include 'about.html' %}
  {% include 'consist.html' %}
  {% include 'product.html' %}
  {% include 'not-like.html' %}
  {% include 'reviews.html' %}
  {% include 'steps.html' %}
  {% include 'watch.html' %}
  {% include 'contacts.html' %}
  {% include 'footer.html' %}
</body>
</html>