<section id="notlike" class="notlike" name="notlike">
  <div class="container">
    <div class="notlike__decor notlike__decor_1"></div>
    <div class="notlike__decor notlike__decor_2"></div>
    <div class="notlike-inner">
      <div class="notlike-inner__bg"></div>
      <div class="notlike-inner__content">
        <p class="title title_ml notlike-inner__title">Заполните форму мы вам позвоним</p>
        <p class="desc desc_m notlike-inner__desc">Если ни&nbsp;одна из&nbsp;стандартных композиций не&nbsp;пришлась<br>
          Вам по&nbsp;душе, можете заказать индивидуальный букет.<br> Заполните форму ниже или просто позвоните нам:</p>
        <form action="/callback/" method="post" class="form notlike-form">
          {% csrf_token %}
          <div class="notlike-form__col notlike-form__col_left">
            <div class="form__field">
              <input type="text" placeholder="Введите Ваше имя"
                class="form__input form__input_name" name="name" min="2" required>
            </div>
            <div class="form__field tooltip">
              <div class="tooltiptext">Телефон в формате xxx-xxx-xxxx</div>
              <input type="text" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Введите контактный телефон"
                class="form__input form__input_phone" name="phone" required>
            </div>
          </div>
          <div class="notlike-form__col notlike-form__col_right">
            <div class="form__field">
              <textarea placeholder="Пожелания по букету" class="form__textarea" name="comment"></textarea>
            </div>
          </div>
          <div class="notlike-form__col notlike-form__col_left">
            <div class="form__field">
              <button class="btn btn_purple btn_l form__submit callback__button">
                Перезвоните мне
              </button>
              <div class="form__policy">
                <input id="radio-1" type="checkbox" class="form__radio form__policy--input" name="is_agree" required> 
                <label for="radio-1"
                  class="form__radio-label">
                  <p class="form__policy-text">Я принимаю условия <span>передачи информации</span></p>
                </label>
              </div>
            </div>
          </div>
          <div class="notlike-form__col notlike-form__col_right">
            <div class="card-contacts notlike__card-contacts"><a href="tel:+7(977)-893-78-18"
                class="card-contacts__phone ct">
                <nobr>8(977)-893-78-18</nobr>
              </a>
              <p class="card-contacts__time">Ежедневно с&nbsp;08.00 до&nbsp;22.00<br> или свяжитесь в&nbsp;месседжерах:
              </p>
              <div class="card-contacts-socials"><a href="whatsapp://send?phone=+7(977)-893-78-18" target="_blank"
                  class="card-contacts-socials__item">
                  <div class="card-contacts-socials__item-icon card-contacts-socials__item-icon_whatsapp"></div>
                  <p class="card-contacts-socials__item-title">WhatsApp</p>
                </a> <a href="viber://chat?number=+7(977)-893-78-18" target="_blank"
                  class="card-contacts-socials__item">
                  <div class="card-contacts-socials__item-icon card-contacts-socials__item-icon_viber"></div>
                  <p class="card-contacts-socials__item-title">Viber</p>
                </a></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>