{% load static %}
<section id="products" class="products">
  <div class="container">
    <p class="title title_center title_ml">Выберите букет, который Вам подходит</p>
    <p class="title title_center title_s products__title-2"><i class="products__title-icon"></i> Доставка в день заказа!
    </p>
    <div class="products-tabs">
      <div class="products-tabs__tab products-tabs__tab_active">
        <p class="products-tabs__tab-title">Все букеты</p>
      </div>
      <div class="products-tabs__tab">
        <p class="products-tabs__tab-title">Хиты продаж</p>
      </div>
      <div class="products-tabs__tab">
        <p class="products-tabs__tab-title">
          <nobr>Premium-букеты</nobr>
        </p>
      </div>
    </div>
  </div>
  <div class="container container_0">
    <div class="slider products-items">
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-1.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-1.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Стандарт»</p>
              <p class="products-items__item-desc">28–34 ягод (1 кг), все ягоды&nbsp;— свежая клубника, украшенная
                бумагой (цвет бумаги на&nbsp;Ваш выбор).)</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">3590 р.</p>
              <p class="products-items__item-price">2850 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-4.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-4.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Герел»</p>
              <p class="products-items__item-desc">54–63 ягод (2 кг), из&nbsp;них 15 клубничек покрыты бельгийским
                молочным шоколадом, Букет украшен голубикой.</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">5790 р.</p>
              <p class="products-items__item-price">5290 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_hit">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-28.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-28.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Ягодный рай»</p>
              <p class="products-items__item-desc">Отличное сочетание ягод!Витаминный букет!(цвет бумаги на&nbsp;Ваш
                выбор).</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">4200 р.</p>
              <p class="products-items__item-price">3615 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-5.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-5.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет Солнышко</p>
              <p class="products-items__item-desc">Ягод ~ 33-34 шт.1,3 кг клубникиДиаметр ~ 25 смВысота ~35 свежая
                клубника под белым и молочным шоколадом, украшенная дробленным арахисом и белыми посыпками. С
                добавлением сочных ягод ежевики и голубики</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">4590 р.</p>
              <p class="products-items__item-price">3982 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-2.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-2.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Киви»</p>
              <p class="products-items__item-desc">27–35 ягод (1кг),из&nbsp;которых 11 ягод покрыты белым бельгийским
                шоколадом и посыпаны соленным арахисом.</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">3790 р.</p>
              <p class="products-items__item-price">3450 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_hit">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-33.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-33.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет Ягодный рай 2;</p>
              <p class="products-items__item-desc">Самым ТОП товаром Ноября месяца стал Ягодный рай!&nbsp;Мы решили
                усовершенствовать композицию и добавили малины. Теперь еще больше ягод, еще больше витаминов!</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">4550 р.</p>
              <p class="products-items__item-price">4100 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_hit">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-24.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-24.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Счастье»</p>
              <p class="products-items__item-desc">Невероятно крутой букет, беспроигрышный вариант, как сказал наш
                клиент!&nbsp;9 роз, листья фисташки, около 1 кг клубники, молочный бельгийский шоколад и ежевика! Не
                только вкусно, но и красиво!</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">5350 р.</p>
              <p class="products-items__item-price">4250 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-29.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-29.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Созвездие»</p>
              <p class="products-items__item-desc">около 2-х кг клубники, некоторые клубнички покрыты молочным и горьким
                шоколадом!&nbsp;Нереально вкусное сочетание сочной клубники и шоколада</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">5690 р.</p>
              <p class="products-items__item-price">5550 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_hit">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-34.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-34.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Елизавета»</p>
              <p class="products-items__item-desc">Голубика, ежевика, клубника, малина, молочный и белый шоколад,
                сладкие посыпки и мята!В этом букете есть абсолютно все.</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">6580 р.</p>
              <p class="products-items__item-price">5800 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_hit">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-22.jpg' %}" data-fancybox=""><img
            src="{% static 'img/img-22.jpg' %}" alt="" class="products-items__item-picture"></a></div>
            <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Роскошь»</p>
              <p class="products-items__item-desc">Полностью в белом и молочном шоколаде! Невероятно вкусный и
                запоминающий подарок!</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">5390 р.</p>
              <p class="products-items__item-price">4790 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-25.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-25.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Women's dream»</p>
              <p class="products-items__item-desc">Букет из ягод в шоколаде произведет только сильное впечатление, а
                вкус не забудется никогда! (цвет бумаги на&nbsp;Ваш выбор).</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">3950 р.</p>
              <p class="products-items__item-price">3550 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-39.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-39.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Набор из клубники в шоколаде №7</p>
              <p class="products-items__item-desc">Свежая клубника, молочный шоколад, белый шоколад, свежая голубика</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">1600 р.</p>
              <p class="products-items__item-price">1200 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-40.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-40.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Набор из клубники в шоколаде №8</p>
              <p class="products-items__item-desc">Свежая клубника, молочный, белый шоколад, кондитерские посыпки</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">1600 р.</p>
              <p class="products-items__item-price">1200 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-41.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-41.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Набор из клубники в шоколаде №9</p>
              <p class="products-items__item-desc">Свежая клубника, молочный, белый шоколад, кондитерские посыпки</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">1600 р.</p>
              <p class="products-items__item-price">1200 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-26.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-26.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Мечта»</p>
              <p class="products-items__item-desc">Букет из ягод в шоколаде произведет только сильное впечатление, а
                вкус не забудется никогда! (цвет бумаги на&nbsp;Ваш выбор).</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">3950 р.</p>
              <p class="products-items__item-price">3760 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-27.jpg' %}" data-fancybox=""><img
                src="{% static 'img/img-27.jpg' %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Грация»</p>
              <p class="products-items__item-desc">Букет из ягод в шоколаде произведет только сильное впечатление, а
                вкус не забудется никогда! (цвет бумаги на&nbsp;Ваш выбор).</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">3550 р.</p>
              <p class="products-items__item-price">3390 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_hit">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-6.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-6.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Нежный»</p>
              <p class="products-items__item-desc">54–63 Ягод (2 кг), полностью покрытые белым и&nbsp;молочным
                бельгийским шоколадом!</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">6190 р.</p>
              <p class="products-items__item-price">5990 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_hit">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-10.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-10.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Звезда»</p>
              <p class="products-items__item-desc">около 50 ягод (около 2х кг), все ягоды&nbsp;— свежая клубника,
                голубика и ежевика, украшенная бумагой (цвет бумаги на&nbsp;Ваш выбор).</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">5590 р.</p>
              <p class="products-items__item-price">4895 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-7.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-7.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Зебра»</p>
              <p class="products-items__item-desc">54 ягод (более <nobr>2-х</nobr> кг), полностью покрытые белым
                и&nbsp;молочным шоколадом. Второй ряд посыпан соленным арахисом.</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">6590 р.</p>
              <p class="products-items__item-price">6090 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-13.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-13.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Ореол»</p>
              <p class="products-items__item-desc">Около 35 свежих отборных ягод, 13 в бельгийском белом шоколаде и все
                вокруг нежно кустовых роз.</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">5390 р.</p>
              <p class="products-items__item-price">4755 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_hit">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-9.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-9.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Настроение»</p>
              <p class="products-items__item-desc">26-34 ягод (больше 1 кг), 7 ягод покрыты молочным бельгийским
                шоколадом, еще 7 покрыты белым бельгийским шоколадом от Callebaut Chocolate! Ароматная мята придает
                букету необычайную свежесть! Это несомненно лидер продаж!</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">3900 р.</p>
              <p class="products-items__item-price">3650 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-11.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-11.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Нелли»</p>
              <p class="products-items__item-desc">28-34 ягод (1&nbsp;кг), все ягоды&nbsp;— свежая клубника, украшенная
                бумагой (цвет бумаги на&nbsp;Ваш выбор).</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">4390 р.</p>
              <p class="products-items__item-price">3751 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_hit">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-37.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-37.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет Медуза</p>
              <p class="products-items__item-desc">28-34 ягод (1&nbsp;кг), все ягоды&nbsp;— свежая клубника, украшенная
                бумагой (цвет бумаги на&nbsp;Ваш выбор).</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">4950 р.</p>
              <p class="products-items__item-price">4345 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-15.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-15.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Клубничный набор</p>
              <p class="products-items__item-desc">30 ягод в бельгийском шоколаде!</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">3950 р.</p>
              <p class="products-items__item-price">3650 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-36.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-36.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Клубничный набор 16шт</p>
              <p class="products-items__item-desc">16 ягод в бельгийском шоколаде!</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">2900 р.</p>
              <p class="products-items__item-price">2200 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-13.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-13.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Чудо»</p>
              <p class="products-items__item-desc">Клубника в шоколаде с также кустовыми розами* образуют очень вкусный
                и милый букетик!(цвет бумаги на&nbsp;Ваш выбор).</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price"> р.</p>
              <p class="products-items__item-price">3805 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_hit">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-23.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-23.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Волшебный»</p>
              <p class="products-items__item-desc">9 роз, около 1 кг клубники, белый и молочный бельгийский
                шоколад!&nbsp;Только представьте, как она будет восторге, какие эмоции получит от такого волшебного
                букета!(цвет бумаги на&nbsp;Ваш выбор).</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">5990 р.</p>
              <p class="products-items__item-price">5590 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-14.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-14.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Ягодный бунт»</p>
              <p class="products-items__item-desc">30-36 ягод (1&nbsp;кг) и&nbsp;250 грамм голубики.(цвет бумаги
                на&nbsp;Ваш выбор).</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">3950 р.</p>
              <p class="products-items__item-price">3391 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_hit">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-38.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-38.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет Gold</p>
              <p class="products-items__item-desc">Для самых дорогих нам людей, букет Gold, впечатлит абсолютно всех.
              </p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">5950 р.</p>
              <p class="products-items__item-price">5350 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-32.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-32.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Сладкое сердце</p>
              <p class="products-items__item-desc">Шляпная коробка в виде сердца с ~1 кг клубники, голубики и
                вкуснейшего бельгийского шоколада!&nbsp;!&nbsp;</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">6150 р.</p>
              <p class="products-items__item-price">4951 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-30.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-30.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Коробка с клубникой;</p>
              <p class="products-items__item-desc">Шляпная коробка в виде сердца с ~1 кг клубники, отличный подарок с
                заботой любимому человеку!</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">2690 р.</p>
              <p class="products-items__item-price">2450 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-31.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-31.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Витаминный набор;</p>
              <p class="products-items__item-desc">Шляпная коробка с килограммовым миксом полезных ягод! Никогда еще
                подарок не показывал столько заботы и любви одновременно!</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">5250 р.</p>
              <p class="products-items__item-price">4350 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_premium">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-17.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-17.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Tats»</p>
              <p class="products-items__item-desc">33&nbsp;розы и&nbsp;29-33 ягод (1&nbsp;кг ), из&nbsp;которых
                10&nbsp;покрыты молочным шоколадом.</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">15990 р.</p>
              <p class="products-items__item-price">10990 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_premium">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-18.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-18.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Liya»</p>
              <p class="products-items__item-desc">49 алых роз и 1 кг клубники, из которых 0,5 кг покрыты молочным
                бельгийским шоколадом. Это вызовет восторг!</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">20000 р.</p>
              <p class="products-items__item-price">12290 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_premium">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-19.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-19.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Екатерина»</p>
              <p class="products-items__item-desc">31 алая роза и 1 кг клубники, из которых 0,5 кг покрыты молочным и
                золотым шоколадом!Это вызовет восхищение!</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">8190 р.</p>
              <p class="products-items__item-price">7950 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="products-items__item products-items__item_filter_hit">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static 'img/img-35.jpg'%}" data-fancybox=""><img
                src="{% static 'img/img-35.jpg'%}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">Букет «Безумие»</p>
              <p class="products-items__item-desc">59 алая роза и 1 кг клубники, из которых 0,5 кг покрыты молочным
                шоколадом, а также добавлена в букет ежевика!Это вызовет восторг!</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">9990 р.</p>
              <p class="products-items__item-price">9690 р.</p> <button
                onclick="gtag('event', 'zakazat ', {'event_category': 'clickbutton'})"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>