{% load static %}
<section id="products" class="products" name="products">
  <div class="container">
    <p class="title title_center title_xl">Букеты для вас</p>
  </div>
  <div class="container container_0">
    <div class="slider products-items">
      {% for product in products %}
      <div class="products-items__item products-items__item_filter_undefined">
        <div class="products-items__item-inner">
          <div class="products-items__item-picture-container"><a href="{% static product.img %}" data-fancybox=""><img
                src="{% static product.img %}" alt="" class="products-items__item-picture"></a></div>
          <div class="products-items__item-content">
            <div class="products-items__item products-items__item-top">
              <p class="title products-items__item-title">{{ product.title }}</p>
              <p class="products-items__item-desc">{{ product.description }}</p>
            </div>
            <div class="products-items__item products-items__item-bottom">
              <p class="products-items__item-old-price">{{ product.old_price }} р.</p>
              <p class="products-items__item-price">{{ product.price }} р.</p> <a href="#notlike"
                class="btn btn_purple btn_l products-items__item-btn">Заказать</a>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
        <div>Нет букетов</div>
      {% endfor %}
    </div>
  </div>
</section>