{% load static %}
<section id="reviews" class="reviews">
  <div class="container">
    <p class="title title_center title_ml">Что говорят наши клиенты</p>
    <div class="slider reviews-slider slick-initialized slick-slider slick-dotted" role="toolbar">
      <div class="slider__arrow slider__arrow-prev reviews-slider__arrow-prev slick-arrow" style=""></div>
      <div aria-live="polite" class="slick-list draggable">
        <div class="slick-track" style="opacity: 1; width: 8215px; transform: translate3d(-1060px, 0px, 0px);"
          role="listbox">
          <div class="reviews-slider__slide slick-slide slick-cloned" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide019" data-slick-index="-4" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/20-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/20-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide slick-cloned" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide020" data-slick-index="-3" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/21-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/21-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide slick-cloned" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide021" data-slick-index="-2" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/22-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/22-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide slick-cloned" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide022" data-slick-index="-1" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/23-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/23-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide slick-current slick-active" style="width: 245px;" tabindex="-1"
            role="option" aria-describedby="slick-slide00" data-slick-index="0" aria-hidden="false">
            <div class="reviews-item"><a href="{% static 'img/13-min.jpg' %}" data-fancybox="reviews" tabindex="0"><img
                  src="{% static 'img/13-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide slick-active" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide01" data-slick-index="1" aria-hidden="false">
            <div class="reviews-item"><a href="{% static 'img/14-min.jpg' %}" data-fancybox="reviews" tabindex="0"><img
                  src="{% static 'img/14-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide slick-active" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide02" data-slick-index="2" aria-hidden="false">
            <div class="reviews-item"><a href="{% static 'img/15-min.jpg' %}" data-fancybox="reviews" tabindex="0"><img
                  src="{% static 'img/15-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide slick-active" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide03" data-slick-index="3" aria-hidden="false">
            <div class="reviews-item"><a href="{% static 'img/15-min.jpg' %}" data-fancybox="reviews" tabindex="0"><img
                  src="{% static 'img/15-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide04" data-slick-index="4" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/1-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/1-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide05" data-slick-index="5" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/2-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/2-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide06" data-slick-index="6" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/3-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/3-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide07" data-slick-index="7" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/5-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/5-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide08" data-slick-index="8" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/6-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/6-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide09" data-slick-index="9" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/7-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/7-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide010" data-slick-index="10" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/8-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/8-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide011" data-slick-index="11" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/9-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/9-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide012" data-slick-index="12" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/10-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/10-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide013" data-slick-index="13" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/11-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/11-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide014" data-slick-index="14" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/12-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/12-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide015" data-slick-index="15" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/16-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/16-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide016" data-slick-index="16" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/17-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/17-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide017" data-slick-index="17" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/18-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/18-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide018" data-slick-index="18" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/19-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/19-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide019" data-slick-index="19" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/20-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/20-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide020" data-slick-index="20" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/21-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/21-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide021" data-slick-index="21" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/22-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/22-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide022" data-slick-index="22" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/23-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/23-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide slick-cloned" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide00" data-slick-index="23" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/13-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/13-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide slick-cloned" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide01" data-slick-index="24" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/14-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/14-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide slick-cloned" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide02" data-slick-index="25" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/15-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/15-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
          <div class="reviews-slider__slide slick-slide slick-cloned" style="width: 245px;" tabindex="-1" role="option"
            aria-describedby="slick-slide03" data-slick-index="26" aria-hidden="true">
            <div class="reviews-item"><a href="{% static 'img/15-min.jpg' %}" data-fancybox="reviews" tabindex="-1"><img
                  src="{% static 'img/15-min.jpg' %}" alt="" class="reviews-item__picture"></a></div>
          </div>
        </div>
      </div>
      <div class="slider__arrow slider__arrow-next reviews-slider__arrow-next slick-arrow" style=""></div>
      <ul class="slick-dots" style="" role="tablist">
        <li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true"
          aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button"
            tabindex="0">1</button></li>
        <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01"
          id="slick-slide01"><button type="button" data-role="none" role="button" tabindex="0">2</button></li>
        <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02"
          id="slick-slide02"><button type="button" data-role="none" role="button" tabindex="0">3</button></li>
        <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation03"
          id="slick-slide03"><button type="button" data-role="none" role="button" tabindex="0">4</button></li>
        <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation04"
          id="slick-slide04"><button type="button" data-role="none" role="button" tabindex="0">5</button></li>
        <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation05"
          id="slick-slide05"><button type="button" data-role="none" role="button" tabindex="0">6</button></li>
      </ul>
    </div>
  </div>
</section>