<section id="watch" class="whatch">
  <div class="container">
    <div class="whatch__content">
      <p class="title title_center title_ml title_white whatch__title">Мастерская Lujo&nbsp;— создаем авторские
        клубничные<br> композиции с&nbsp;использованием бельгийского шоколада</p> <a data-fancybox=""
        href="https://www.youtube.com/watch?v=Ap9O86xDeN4" class="whatch-play">
        <div class="whatch-play__col whatch-play__col_left">
          <div class="whatch-play__play"></div>
        </div>
        <div class="whatch-play__col whatch-play__col_right">
          <p class="whatch-play__title">Посмотрите видео о&nbsp;том, как мы&nbsp;создаем букеты</p>
          <p class="whatch-play__time">59 сек</p>
        </div>
      </a>
    </div>
  </div>
</section>