{% extends "base.html" %}
{% block title %}Топ{% endblock title %}
{% block header %}Список покупок{% endblock header %}
{% block content %}
  <table>
    <thead>
      <tr>
        <th>Название</th>
        <th>Цена, руб.</th>
        <th>Описание </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Телефон samsung</td>
        <td>77'000</td>
        <td>
          Смартфон Samsung Galaxy S23 Ultra 256 ГБ выделяется прямоугольным корпусом с защитой класса IP68 и изогнутой передней панелью. Экран 6.8 дюйма Dynamic AMOLED 2X с любого положения отображает четкую, яркую и красочную картинку. Для продуктивной работы и творчества в модели реализована поддержка фирменного стилуса. Камеры 200+12+10+10 Мп и 12 Мп позволяют создавать реалистичные снимки.
          Плавность и высокая скорость выполнения всех действий в Samsung Galaxy S23 Ultra достигается благодаря взаимодействию процессора Snapdragon 8 Gen 2 и 12 ГБ оперативной памяти. Объем встроенной памяти составляет 256 ГБ. Среди особенностей смартфона – сканер отпечатков пальцев в экране, стереодинамики с технологией Dolby Atmos, аккумулятор 5000 мА*ч с поддержкой быстрой и беспроводной зарядки.
        </td>
      </tr>
      <tr>
        <td>Часы samsumg</td>
        <td>17'000</td>
        <td>
          Смарт-часы Samsung Galaxy Watch6 44mm обладают прочным съемным ремешком, с использованием которого производится фиксация на запястье любого обхвата. Умное устройство определяет артериальное давление, качество сна, пульс, температуру тела. Предустановленные тренировки в количестве 90 штук помогают заниматься физической активностью в подходящем месте. Защита по стандарту IP68 делает алюминиевый корпус устойчивым к негативному воздействию влаги.
          Смарт-часы Samsung Galaxy Watch6 44mm поддерживают функцию женского здоровья, которая незаменима при отслеживании цикла и симптомов. После синхронизации со смартфоном пользователи могут читать уведомления от приложений с 1.5-дюймового Super AMOLED-дисплея. Сапфировое стекло уберегает от образования повреждений. Аккумулятор емкостью 425 мАч нуждается в восполнении энергии спустя 40 ч непрерывного доступа к возможностям.
        </td>
      </tr>
      <tr>
        <td>Наушники samsung</td>
        <td>8'000</td>
        <td>
          Наушники TWS Samsung Galaxy Buds Live благодаря особой анатомической форме комфортно располагаются в слуховом канале и не выпадают при активной эксплуатации. Они выполнены в классической расцветке и поставляются вместе с зарядным кейсом, который гарантирует до 29 часов автономной работы в режиме разговоров и прослушивания аудио. Акустическая система с динамиками диаметром 12 мм формирует детализированный звук с объемным эффектом. За чистоту передачу голоса отвечают 3 микрофона и датчик костной проводимости.
          В наушниках Samsung Galaxy Buds Live реализована технология адаптивного шумоподавления, которая способна поглощать до 97% посторонних звуков. Сенсорные кнопки на корпусе позволяют простыми касаниями переключать треки, отвечать на звонки и завершать их, активировать голосового ассистента. Синхронизация наушников с устройством выполняется по технологии Bluetooth.
        </td>
      </tr>
    </tbody>
  </table>
{% endblock content %}