div {
  background-color: aquamarine;
  border-radius: 30px;
  text-align: center;
  margin: 10px 20%;
  padding: 5px;
}
img {
  width: 50%;
  height: 100%;
}
a {
  text-decoration: none;
  color: #000;
}