@import url('./11.css');
@import url('./22.css');
@import url('./33.css');

.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: #de0092;
  color: #e1e1e1;
  text-align: center;
  padding: 5px 0;
  border-radius: 18px;
  position: absolute;
  z-index: 1;
  top: -40px;

  &::after {
    content: '';
    position: absolute;
    background-color: #de0092;
    height: 10px;
    width: 10px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    bottom: -9px;
    left: calc(50% - 10px);
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.form__policy {
  position: relative;

  .form__policy--input {
    left: 22px;
    margin: 0;
  }
}

